# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build outputs
dist
dist-ssr

# Vite Cache
.vite/

# Environment files
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package lock files (si no quieres que se suban)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
